{% extends 'base.html' %}


{% block title %}{{login_t_f|yesno:"Авторизация, Регистрация"}}{% endblock %}

{% block content %}
<figure class="text-center">
    <div class="row">
        <div class="col">
            <h2 class="my-3">{{login_t_f|yesno:"Авторизация, Регистрация"}}</h2>
        </div>
    </div>
</figure>
<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="POST" action="">
            {% csrf_token %}

            <div class="mb-3">

                {{form.as_p}}
            </div>

            <button class="btn btn-primary" type="submit">{{login_t_f|yesno:"Войти, Зарегистрироваться"}}</button>
        </form>
    </div>
</div>

{% endblock %}